# Default LLM provider and model
LLM_PROVIDER=google
LLM_MODEL=gemini-2.0-flash

# Google Generative AI (Gemini)
GOOGLE_API_KEY=AIzaSyDRcnVRFaF_z0ABoOJHswS-YECDf8t8Gc0

# OpenAI
OPENAI_API_KEY=

# Unsplash
UNSPLASH_ACCESS_KEY=Q830f__-vTUf89z28sxPYLgGSiMkwjmW2LC7z1_Qrhg
